@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

:root {
  --primary-color: #cc00ff;
  --primary-light: #d83eff;
  --secondary-color: #ff006b;
  --secondary-light: #fe2a83;
  --secondary-light-accent: #ff7948;
  --secondary-dark-accent: #feb89e;
  --tertiary-color: #90ff00;
  --tertiary-light-accent: #86ed00;
  --tertiary-dark-accent: #6ec300;
  --quarternary-color: #ffff00;
  --quarternary-accent: #ddf316;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  margin: 1em;
  background-color: rgb(21, 21, 21);
  color: whitesmoke;
  // margin: 0px;
}

li {
  margin-top: 1em;
}

h1 {
  @apply text-2xl font-bold;
}

h2 {
  @apply text-xl font-bold;
}

.app {
  margin: 0;
  border-radius: 25px;
  border: solid;
  border-color: var(--primary-color);
}

.header {
  margin: 0;
  border-radius: 20px 20px 0px 0px;
  padding: 0.5em 0 0.3em 1em;
  background-color: var(--primary-color);
  position: relative;
}

.header h1 {
  color: rgb(206, 206, 206);
  margin: 0;
}

.story-difference {
  margin-left: 1em;
}

.nav-link {
  // text-decoration: none;
  margin-left: 1em;
  font-weight: 600;
  color: rgb(251, 254, 255);
}

.story-snippet {
  display: block;
  margin-top: 1em;
  // background-color: rgba(69, 167, 252, 0.267);
  background-color: var(--primary-light);
  border-width: 0;
  text-align: left;
  border-radius: 15px;
  // width: 100%;;
  @apply p-2;
}

/* .snippet-p {
  margin: 0.2em;
} */

.data-word {
  margin-top: 1em;
}

.page {
  margin: 0 1em 1em 1em;
}

.page-heading {
  color: var(--secondary-light-accent);
}

.secondary-color {
  color: var(--secondary-light-accent);
}

.primary-btn {
  border-radius: 10px;
  border: none;
  font-weight: 600;
  background-color: var(--secondary-light-accent);
}

.check-stories-btn {
  padding: 1em 2em;
  margin-left: 200px;
  transform: translateX(-50%);
}

.story-text-box {
  background-color: rgb(21, 21, 21);
  color: whitesmoke;
  @apply outline outline-1;
}

.guess-div {
  height: 5em;
}
.options-div {
  height: 5em;
}

.go-btn {
  background-color: #86ed00;
}

.auth {
  position: absolute;
  right: 0.5em;
  text-align: right;
  top: 0.5em;
}

.card-container {
  @apply outline outline-1 rounded-lg p-2 my-3;
}

.black-card-container {
  @apply outline outline-1 rounded-lg p-2 my-3  outline-black;
}

.black-card-container p {
  @apply text-black text-lg/6;
}
.black-card-container li {
  @apply text-black text-lg/6;
}

.black-card-container h2 {
  color: var(--secondary-dark-accent);
}

.story-snippet p {
  color: var(--secondary-dark-accent);
  color: black;
}
